.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.admin .admin__btn {
  position: absolute;
  bottom: 20px;
  left: 7px;
}
.admin .admin__btn button {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.admin .sidebar {
  padding: 30px;
  background: #454545;
  width: 110px;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.admin .sidebar span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.admin .sidebar span svg {
  font-size: 28px;
  color: #fff;
}
.admin .sidebar span h2 {
  display: none;
  white-space: nowrap;
}
.admin .sidebar span button {
  background-color: transparent;
  border: none;
}
.admin .sidebar .admin__links {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-left: -12px;
}
.admin .sidebar .admin__links a {
  color: #fff;
  font-family: Manrope;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 8px;
}
.admin .sidebar .admin__links a h2 {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.59px;
  display: none;
  white-space: nowrap;
}
.admin .sidebar .admin__links a svg {
  font-size: 32px;
}
.admin .sidebar .admin__links a.active {
  background-color: #6A6A6A;
}
.admin .sidebar.show {
  padding: 30px;
  background: #454545;
  width: 400px;
  position: sticky;
  height: 100vh;
}
.admin .sidebar.show span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.admin .sidebar.show span svg {
  font-size: 28px;
  color: #fff;
}
.admin .sidebar.show span h2 {
  font-family: Manrope;
  font-size: 28px;
  font-weight: 600;
  line-height: 38.25px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.admin .sidebar.show .admin__links {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-left: 0;
}
.admin .sidebar.show .admin__links a {
  color: #fff;
  font-family: Manrope;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 8px;
}
.admin .sidebar.show .admin__links a h2 {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.admin .sidebar.show .admin__links a svg {
  font-size: 24px;
}
.admin .sidebar.show .admin__links a.active {
  background-color: #6A6A6A;
}

.create__product {
  padding: 0px 20px;
}
.create__product h2 {
  font-family: Manrope;
  font-size: 28px;
  font-weight: 500;
  line-height: 30.8px;
  color: #454545;
}
.create__product form {
  margin-top: 33px;
}
.create__product form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
  gap: 8px;
}
.create__product form span label {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.6px;
}
.create__product form span input, .create__product form span select, .create__product form span textarea {
  width: 620px;
  resize: none;
  height: 58px;
  padding: 16px;
  gap: 10px;
  border-radius: 10px;
  background: #F8F8F8;
  border: none;
  outline: none;
}
.create__product form span textarea {
  height: 150px;
}
.create__product form button {
  padding: 13px 64px;
  margin-top: 23px;
  background-color: #454545;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #454545;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.create__product form button:hover {
  background-color: #fff;
  color: #454545;
  border: 1px solid #454545;
}
.create__product form button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.manage__product {
  padding: 20px 0;
}
.manage__product h2 {
  font-family: Manrope;
  font-size: 28px;
  font-weight: 500;
  line-height: 30.8px;
  color: #454545;
}