.brends .brends__title {
  margin: 70px 0;
}
.brends .brends__title h2 {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 54.64px;
}
.brends .brends__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.brends .brends__cards .mySwiper {
  display: none;
}

@media (max-width: 1300px) {
  .brends__card {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (max-width: 1000px) {
  .brends__card {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 600px) {
  .brends__cards .brends__card {
    display: none !important;
  }
  .brends__cards .mySwiper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 50px auto;
  }
  .brends__cards .mySwiper img {
    margin: 0 auto !important;
    width: 100%;
  }
}