.cart {
  padding: 100px 0;
}
.cart .cart__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.cart .cart__title a {
  color: #454545;
  opacity: 30%;
}
.cart .cart__content h1 {
  margin: 15px 0 40px 0;
  font-family: Manrope;
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  color: #454545;
}
.cart .cart__content .cart__products {
  padding: 36px 40px;
  background: #F2F2F2;
  border-radius: 20px;
}
.cart .cart__content .cart__products .cart__products__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #DADADA;
}
.cart .cart__content .cart__products .cart__products__title p {
  padding-bottom: 28px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.86px;
  color: #454545;
  opacity: 0.5;
}
.cart .cart__content .cart__products .cart__products__title p:first-child {
  width: 119px;
}
.cart .cart__content .cart__products .cart__products__title p:nth-child(2) {
  width: 230px;
}
.cart .cart__content .cart__products .cart__products__title p:nth-child(3) {
  width: 320px;
}
.cart .cart__content .cart__products .cart__products__title p:nth-child(4) {
  width: 300px;
}
.cart .cart__content .cart__products .cart__card {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart .cart__content .cart__products .cart__card .dffc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart .cart__content .cart__products .cart__card .img {
  background-color: #ffffff;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  border-radius: 15px;
}
.cart .cart__content .cart__products .cart__card .img img {
  width: 49px;
  height: 61px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart .cart__content .cart__products .cart__card span {
  margin-left: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}
.cart .cart__content .cart__products .cart__card span p {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  width: 164px;
}
.cart .cart__content .cart__products .cart__card span h3 {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}
.cart .cart__content .cart__products .cart__card h4 {
  max-width: 250px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  margin-left: 64px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart .cart__content .cart__products .cart__card .counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 54px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.cart .cart__content .cart__products .cart__card .counts svg {
  font-size: 20px;
}
.cart .cart__content .cart__products .cart__card .counts button {
  border: none;
  background-color: transparent;
}
.cart .cart__content .cart__products .cart__card .counts p {
  border: 1px solid #DADADA;
  padding: 19px 27px;
  border-radius: 10px;
}
.cart .cart__content .cart__products .cart__card .counts .delete {
  margin-left: 20px;
}
.cart .cart__content .cart__products .cart__card .counts .delete svg {
  font-size: 28px;
}
.cart .decor {
  background-color: #F2F2F2;
  margin-top: 20px;
  padding: 45px;
  border-radius: 20px;
}
.cart .decor h2 {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 700;
  line-height: 35.2px;
  margin-bottom: 31px;
}
.cart .decor .df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 37px;
}
.cart .decor .df input {
  padding: 14px 20px;
  border-radius: 100px;
  border: 1px solid #454545;
  background-color: transparent;
  outline: none;
  width: 373px;
}
.cart .decor .df input::-webkit-input-placeholder {
  color: #454545;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.cart .decor .df input::-moz-placeholder {
  color: #454545;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.cart .decor .df input:-ms-input-placeholder {
  color: #454545;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.cart .decor .df input::-ms-input-placeholder {
  color: #454545;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.cart .decor .df input::placeholder {
  color: #454545;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.cart .decor .delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cart .decor .delivery h2 {
  margin: 35px 0;
}
.cart .decor .delivery input, .cart .decor .delivery textarea {
  padding: 14px 20px;
  border-radius: 100px;
  border: 1px solid #454545;
  background-color: transparent;
  outline: none;
  max-width: 767px;
  resize: none;
}
.cart .decor .delivery input::-webkit-input-placeholder, .cart .decor .delivery textarea::-webkit-input-placeholder {
  color: #454545;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.cart .decor .delivery input::-moz-placeholder, .cart .decor .delivery textarea::-moz-placeholder {
  color: #454545;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.cart .decor .delivery input:-ms-input-placeholder, .cart .decor .delivery textarea:-ms-input-placeholder {
  color: #454545;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.cart .decor .delivery input::-ms-input-placeholder, .cart .decor .delivery textarea::-ms-input-placeholder {
  color: #454545;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.cart .decor .delivery input::placeholder, .cart .decor .delivery textarea::placeholder {
  color: #454545;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
}
.cart .decor .delivery textarea {
  height: 150px;
  margin-top: 20px;
  border-radius: 26px !important;
  padding: 20px 18px;
}
.cart .payment {
  background-color: #F2F2F2;
  padding: 48px;
  border-radius: 20px;
  margin-top: 58px;
}
.cart .payment h2 {
  font-family: Manrope;
  font-size: 32px;
  font-weight: 700;
  line-height: 35.2px;
  margin: 32px 0;
}
.cart .payment .dfp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.cart .payment .dfp p {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  color: #454545;
  opacity: 0.5;
}
.cart .payment .dfp span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart .payment h3 {
  margin-top: 69px;
  font-family: Manrope;
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.4px;
}
.cart .payment .dfb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.cart .payment .dfb span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.cart .payment .dfb button {
  padding: 14px;
  width: 324px;
  border-radius: 100px;
  background: #454545;
  border: 1px solid #454545;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cart .payment .dfb button:hover {
  background-color: transparent;
  color: #454545;
  border: 1px solid #454545;
}
.cart .payment .dfb button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.cart .payment .dfb p {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  color: #454545;
  opacity: 0.5;
}

@media (max-width: 1000px) {
  .cart__products {
    background: 0 !important;
    padding: 0 !important;
  }
  .cart__products__title {
    display: none !important;
  }
  .cart__card {
    margin: 8px 0 !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
    background-color: #F2F2F2;
    padding: 16px !important;
    border-radius: 20px;
  }
  .cart__card .dffc {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    gap: 20px;
  }
  .cart__card .dffc span {
    gap: 10px !important;
    margin-left: 0 !important;
  }
  .cart__card .dffc h4 {
    max-width: 150px !important;
    margin: 0 !important;
  }
}
@media (max-width: 500px) {
  .dffc {
    margin: 0 !important;
    max-width: 200px !important;
  }
  .dffc span {
    gap: 0 !important;
    margin-left: 0 !important;
  }
  .df input {
    width: 300px !important;
  }
}
@media (max-width: 900px) {
  .decor {
    padding: 20px 16px !important;
  }
  .payment {
    padding: 20px !important;
  }
  .payment button {
    width: 270px !important;
  }
  .df {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dfp, .dfb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
  }
}