.found {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.found img {
  width: 100%;
}
.found p {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: center;
  margin-top: 181px;
}
.found button {
  padding: 14px 63px;
  border-radius: 100px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #454545;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.found button:hover {
  background-color: #fff;
  color: #454545;
  border: 1px solid #454545;
}
.found button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}