.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}
.text .text__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 330px;
}
.text h1 {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 54.64px;
  max-width: 330px;
}
.text p {
  max-width: 640px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #454545;
  margin-bottom: 30px;
}
.text h2 {
  display: none;
}

@media (max-width: 1000px) {
  .text__content {
    gap: 150px !important;
  }
}
@media (max-width: 800px) {
  .text__content {
    gap: 150px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text__content h2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 700;
    line-height: 38.25px;
  }
  .text__content h1 {
    display: none;
  }
}