.found{
    padding: 100px 0 ;
    display: flex;
    justify-content: center;
    img{
        width: 100%;
    }
    p{
        font-family: Manrope;
        font-size: 24px;
        font-weight: 600;
        line-height: 33.6px;
        text-align: center;
        margin-top: 181px;
    }
    button{
        padding: 14px 63px;
        border-radius: 100px;
        margin: 50px auto;
        display: flex;
        background-color: #454545;
        color: #fff;
        transition: .3s;
    }   
    button:hover{
        background-color: #fff;
        color: #454545;
        border: 1px solid #454545;
    }
    button:active{
        transform: scale(0.95);
    }
}